
 <nav class="navbar   me-auto">
  <div class="container-fluid">
    <span class="navbar-brand  h1"><h1 class="text-white">Category  Management</h1></span>
  </div>
</nav>

  <div class="container tm-mt-big tm-mb-big ">
    <div class="row ">
      <center>
            
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
      
            </div>
          </div>
          <div class="row tm-edit-product-row text-center" width="50px">
            <div class="col-xl-6 col-lg-6 col-md-12">
              <form action="/admin/addCategory" id="category" method="post">
                <div class="form-group mb-3">
                  <div class="text-center">
                  <label for="name" class="text-white">Add New Category </label>

                  <input  name="cat" type="text" class="form-control validate " ><br>
                  <button type="submit" class="btn mx-4 px-5 bg-danger text-white m-1 ">Add</button>
                </div>
              </form>
            </div>
            <div class="form-group mb-3">
              <form action="/admin/addSubCategory">
                <label for="cars"class="text-white">Choose Category</label>
                {{!-- <select name="category" id="">
                  {{#each category}}
                  <option value="{{this_id}}">{{this.category}}</option>
                  {{/each}}
                </select> --}}
                {{!-- <br><br> --}}


              </form>

            </div>

    

<div class="col-xl-12 col-lg-12 col-md-12">
              <form action="/admin/addSubCategory"id="sub" method="post">
               <select name="category" id=""class="form-select" aria-label="Default select example">
                <br><br>
                  {{#each category}}
                  <option value="{{this.category}}">{{this.category}}</option>
                  {{/each}}
                  <br><br>
                </select>
                <div class="form-group mb-3">
                  <div class="row"></div>
                  <label for="name"class="text-white">Add Sub Category </label>

                  <input name="subCategory" type="text" class="form-control validate " ><br>
                  <button type="submit" class="btn bg-danger  mx-4 px-5  text-white m-1">Add</button>
              </form>
            </div>

          </div>
        </div>
      </center>
      </div>

    </div>
  </div>
  </div>
  </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-sm">
     
    <table class="table">
     <thead>
       <tr>
         <th scope="col"class="text-white">Category Name</th>
      <th scope="col">Delete</th>
      <th scope="col"class="text-white">View Subcategory</th>
       </tr>
     </thead>
      {{#each category}}
      <tr>
        <td>{{this.category}}</td>
        <td><a class="btn bg-danger" href="/admin/deleteCategory/{{this._id}}">Delete</a></td>
         <td><a class="btn bg-success" href="/admin/viewSubCategory/{{this.category}}">View Subcategory</a></td>
      </tr>
      {{/each}}
    </table>
    </div>
   {{#if Subcategory}}
    <div class="col-sm">
    
      <table class="table">
     <thead>
       <tr>
         <th scope="col"class="text-white">Subcategory Name</th>
      <th scope="col">Delete</th>
       </tr>
     </thead>
      {{#each Subcategory}}
      <tr>
        <td class="text-black">{{this.subCategory}}</td>
        <td><a class="btn bg-danger" href="/admin/deleteSubCategory/{{this._id}}">Delete</a></td>
      </tr>
      {{/each}}
    </table>
    </div>
    {{/if}}
  </div>
</div>

<script>
    $(document).ready(function () {
      $("#category").validate({
        rules: {
           cat: {
            required: true,
            minlength: 3,
           
          },
   
          
         
   
        }
      })
    })
  </script>

<script>
    $(document).ready(function () {
      $("#sub").validate({
        rules: {
           
          
          subCategory: {
            required: true,
            minlength: 3,
           
          }
   
        }
      })
    })
  </script>  
</body>

</html>