<body>

  <div class="container tm-mt-big tm-mb-big" >
    <div class="row">
      <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12">
              <h2 class="tm-block-title d-inline-block">Add Product</h2>
            </div>
          </div>
          <div class="row tm-edit-product-row">
            <div class="col-xl-6 col-lg-6 col-md-12">
              {{!-- image view on page --}}
<script>
  imgInp.onchange = evt => {
  const [file] = imgInp.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
}
</script>
               
              <form action="/admin/addProducts" id="imgInp" name="myform" class="tm-edit-product-form" method="post"
                enctype="multipart/form-data" onsubmit="return validation()">

                <div class="form-group mb-3">


                </div>
                <div class="form-group mb-3">

                  <label for="category">Category</label>

                  <select name="category" id="" onclick="sel()" class="form-select" aria-label="Default select example">
                    <br><br>
                    {{#each category}}
                    <option value="{{this.category}}">{{this.category}}</option>
                    {{/each}}
                  </select>
                  {{!-- <a href="/admin/viewSubCategory/{{this.category}}" class="btn bg-danger text-black m-2">Click
                    for Category</a> --}}
                  {{!-- for getting subcategory --}}



                  <label for="category">SubCategory</label>
                  <select name="SubCategory"   id="" class="form-select" aria-label="Default select example">

                    {{#each Subcategory}}
                    <option value="{{this.subCategory}}">{{this.subCategory}}</option>
                    {{/each}}
                  </select>

                </div>
                <label for="expire_date">Size
                </label>
                <select class="form-select" name="size" aria-label="Default select example">

                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="expire_date">landing cost
                    </label>
                     <div class="error text-danger"></div>
                    <input id="lanCost" name="lanCost" type="text" class="form-control validate"
                      data-large-mode="true" />
                  </div>
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="stock">MRP
                    </label>
                     <div class="error text-danger"></div>
                    <input id="mrp" name="mrp" type="text" class="form-control validate" >
                  </div>
                </div>
                <div class="row">
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="expire_date">Brand
                    </label>
                    <div class="error text-danger"></div>
                    <input id="brand" name="brand" type="text" class="form-control validate"
                      data-large-mode="true" />
                  </div>
                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label for="stock">QTY
                    </label>
                     <div class="error text-danger"></div>
                    <input id="qty" name="qty" type="text" class="form-control validate">
                  </div>
                </div>

            </div>
          </div>


          {{!-- <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            <div class="tm-product-img-dummy mx-auto">
              <i class="fas fa-cloud-upload-alt tm-upload-icon"
                onclick="document.getElementById('fileInput').click();"></i>
            </div>
         
          </div> --}}

          <input type="file"onchange="document.getElementById('thisImageId').src = window.URL.createObjectURL(this.files[0])" class="m-1" name="image"><img id="thisImageId" alt="your image" width="100" height="100" />
<br>
          <input type="file"onchange="document.getElementById('thisImageId2').src = window.URL.createObjectURL(this.files[0])" class="m-1" name="image2"><img id="thisImageId2" alt="your image" width="100" height="100" /><br>
          <input type="file"onchange="document.getElementById('thisImageId3').src = window.URL.createObjectURL(this.files[0])"class="m-1" name="image3"><img id="thisImageId3" alt="your image" width="100" height="100" />
          <div class="col-12">
             <div class="text-danger" id="error"></div>
            <button type="submit" class="btn btn-primary">Add Product Now</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

{{!-- image validation --}}

<script>
var img=document.forms['myform']['image']
var img2=document.forms['myform']['image2']
var img3=document.forms['myform']['image3']
var valExt=['jpg']

function validation(){

  if(img.value!=''&&img2.value!=''&&img3.value!=''){

    var pos_of_dot=img.value.lastIndexOf('.')+1
    var img_ext_of=img.value(pos_of_dot)
    console.log(img_ext_of)
  }
  else{
    alert("Please upload three images")
    return false;
  }
}
</script>

<script>
    $(document).ready(function () {
      $("#myform").validate({
        rules: {
          lanCost: {
            required: true,
          
          },
          mrp: {
            required: true,
         },
       brand  : {
            required: true,
         },
         qty  : {
            required: true,
         },

          password: {
            required: true,
            minlength: 3,
            maxlength: 10
          }
   
        }
      })
    })
  </script>


  {{!-- for display text box --}}
 <script>
  const imgInp=document.getElementById("imgInp")
   const lanCost=document.getElementById("lanCost")
      const mrp=document.getElementById("mrp")
       const brand=document.getElementById("brand")
        const qty=document.getElementById("qty")
        const errors= document.getElementsByClassName("error")

      {{!-- const errorElement=document.getElementById('error') --}}

      imgInp.addEventListener('submit',(e)=>{
           
                      let messages=[]
         if(lanCost.value==''||lanCost.value==null){
              messages.push('lanCost is required')
              errors[0].innerText="lan Cost is required"
           
      }
      if(mrp.value==null||mrp.value==''){
              messages.push('MRP required')
            errors[1].innerText="MRP required"
      }
       if(brand.value==null||brand.value==''){
             
            
           
            errors[2].innerText= "Brand required"
      }
      if(qty.value==null||qty.value==''){
              messages.push('Quantity required')
              errors[3].innerText="Quantity required"
            
      }
      
      
          if(messages.length>0){
                 e.preventDefault()
                 errorElement.innerText=messages.join(',')
          }
         
      })

  
          </script>
</body>

</html>
