
 <nav class="navbar   me-auto">
  <div class="container-fluid">
    <span class="navbar-brand  h1"><h1 class="text-white">View offer</h1></span>
  </div>
</nav>
<p class="text-danger">{{reply}}</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Percentage</th>
      <th scope="col">Category</th>
      <th scope="col">Expire Date</th>
       <th scope="col">Cancel</th>
    </tr>
  </thead>
  <tbody>
      {{#each offer}}
    <tr class="text-white">
      <th scope="row">{{this.title}}</th>
      <td>{{this.percentage}}</td>
      <td>{{this.category}}</td>
      <td>{{this.expireDate}}</td>
       <td><button onclick="cancel('{{this.category}}')"  class="text-danger btn" >Cancel</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{!-- ................................................................... --}}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
 function cancel(category){
Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    location.href='/admin/cancelOffer/'+category,
    
    Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  }
})
}


 </script>