

<header>
    <div class="header-top bg-black sticky-header">
                    <div class="container-fluid">
                      
                         <div class="mobile-menu-style-2 row">
                            <div class="col-lg-12 d-block d-lg-none">
                           
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-top end -->
                <!-- header-mid-area start -->
                <div class="header-mid-area header-mid-style-3 bg-black">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- hot-line-area start -->
                                <div class="hot-line-area">
                                    
                                    <div class="phone">
                                          <span>9846065859</span>
                                         <a href="/"><img src="/img/logo/logo-2.png" alt=""></a>
                                       
                                    </div>
                                </div>
                                <!-- hot-line-area end -->
                                        <!-- full-setting-area start -->
                                        <div class="full-setting-area setting-style-3">
                                            <div class="top-dropdown">
                                                <ul>
                                                   
                                                    {{#if user}}
                                                    <li class="drodown-show"><a href="#"> {{user.firstname}} <i class="fa fa-angle-down"></i></a>
                                                    {{else}}
                                                       <li class="drodown-show"><a href="#"> Login <i class="fa fa-angle-down"></i></a>
                                                            {{/if}}
                                                        <ul class="open-dropdown setting">
                                                               {{#if user}}
                                                                  <li><a href="/myProfile">My Profile</a></li>
                                                            <li><a href="/order">My Order History</a></li>
                                                            <li><a href="/placeOrder">Checkout</a></li>
                                                         
                                                             <li><a class="text-black " href="/logout">SignOut</a></li>
                                                             {{else}}
                                                            <li><a class="text-black " href="/login">Sign in</a></li>
                                                            {{/if}}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- full-setting-area end -->
                                <!-- shopping-cart-box start -->
                                <div class="shopping-cart-box white-cart-box">
                                    <ul>
                                        <li>
                                            <a href="/viewCart">
                                                <span class="item-cart-inner">
                                                    <span class="item-cont" id="cart-count">{{cartCount}}</span> 
                                                    My Cart
                                                </span>
                                                {{!-- <div class="item-total">$237.00</div> --}}
                                            </a>
                                            <ul class="shopping-cart-wrapper">
                                                <li>
                                                    <div class="shoping-cart-image">
                                                        <a href="/viewCart/{{this._id}}">
                                                            <img  alt="">
                                                            {{!-- <span class="product-quantity">1x</span> --}}
                                                        </a>
                                                    </div>
                                                    {{!-- <div class="shoping-product-details">
                                                        <h3><a href="#">brand Free RN 2018</a></h3>
                                                        <div class="price-box">
                                                            <span>$230.00</span>
                                                        </div>
                                                        <div class="sizeandcolor">
                                                            <span>Size: S</span>
                                                            <span>Color: Orange</span>
                                                        </div>
                                                        <div class="remove">
                                                            <button title="Remove"><i class="ion-android-delete"></i></button>
                                                        </div>
                                                    </div> --}}
                                                </li>
                                                {{!-- <li>
                                                    <div class="shoping-cart-image">
                                                        <a href="#">
                                                            <img src="/img/small-product/2.jpg" alt="">
                                                            <span class="product-quantity">1x</span>
                                                        </a>
                                                    </div>
                                                    <div class="shoping-product-details">
                                                        <h3><a href="#">Product Free RN 2018</a></h3>
                                                        <div class="price-box">
                                                            <span>$230.00</span>
                                                        </div>
                                                        <div class="sizeandcolor">
                                                            <span>Size: S</span>
                                                            <span>Color: Orange</span>
                                                        </div>
                                                        <div class="remove">
                                                            <button title="Remove"><i class="ion-android-delete"></i></button>
                                                        </div>
                                                    </div>
                                                </li> --}}
                                                {{!-- <li>
                                                    <div class="cart-subtotals">
                                                        <h5>Subtotal<span class="float-right">$698.00</span></h5>
                                                        <h5>Shipping<span class="float-right"> $7.00 </span></h5>
                                                        <h5>Taxes<span class="float-right">$0.00</span></h5>
                                                        <h5> Total<span class="float-right">$705.00</span></h5>
                                                    </div>
                                                </li> --}}
                                                {{!-- <li class="shoping-cart-btn">
                                                    <a class="checkout-btn" href="checkout.html">checkout</a>
                                                </li> --}}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <!-- shopping-cart-box start -->
                                
                                <!-- searchbox start -->
                                <div class="searchbox">
                                    <form action="#">
                                        <div class="search-form-input">
                                            {{!-- <select id="select" name="select" class="nice-select">
                                                <option value="">All Categories</option>
                                                <option value="12">Uncategorized</option>
                                                <option value="22">Electronics</option>
                                                <option value="26">Accessories</option>
                                                <option value="27">Cap HDMI</option>
                                                <option value="28">Headphone</option>
                                                <option value="29">Keyboard</option>
                                                <option value="23">Mouse</option>
                                                <option value="30">Laptops & Tablets</option>
                                                <option value="31">Laptop</option>
                                                <option value="31">Macbook</option>
                                                <option value="31">Smartphone</option>
                                                <option value="31">Tablets</option>
                                                <option value="32">Tvs & Audios</option>
                                                <option value="33">Amply</option>
                                                <option value="24">Smart TV</option>
                                                <option value="34">Speaker</option>
                                                <option value="35">TV</option>
                                                <option value="36">Fashion & Jewelry</option>
                                                <option value="37">Accessories</option>
                                                <option value="25">Rings</option>
                                                <option value="38">Watches</option>
                                            </select> --}}
                                            <input type="text" placeholder="Enter your search key ... ">
                                            <button class="top-search-btn" type="submit">Search</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- searchbox end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-mid-area end -->
            </header>


            