<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 <nav class="navbar  mt-0">
  <div class="container-fluid">
    <span class="navbar-brand  "><h1 class="text-white">Manage Address</h1></span>
  </div>
</nav>


    <div class="row">
        <div class=" col-6">
      <form class="form-horizontal" method="post" action="/addAddress" role="form" id="form">
        <fieldset>

          <!-- Form Name -->

          <!-- Text input-->
          <input type="text"  name='userId' value='{{user._id}}' hidden>
          <div class="form-group">
            <label class="col-sm-2 control-label text-white" for="textinput">Name</label>
            <div class="col-sm-10">
              <p class="error text-danger"> </p>
              <input type="text" placeholder="Name" id="name" value="{{address.name}}" name="name" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label text-white" for="textinput">Mobile Number</label>
            <div class="col-sm-10">
                            <p class="error text-danger"> </p>
              <input type="text" value="{{address.phone}}" id="phone"  placeholder="Mobile Number"name='phone' class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label text-white" for="textinput">City</label>
            <div class="col-sm-10">
                 <p class="error text-danger"> </p>
              <input type="text" placeholder="City" id="city" value="{{address.city}}"  name="city" class="form-control">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-sm-2 control-label text-white" for="textinput">State</label>
            <div class="col-sm-4">
                 <p class="error text-danger"> </p>
              <input type="text" placeholder="State" value="{{address.state}}" id="stateche"  name="state" class="form-control">
            </div>

            <label class="col-sm-2 control-label text-white"   for="textinput">Postcode</label>
            <div class="col-sm-4">
                 <p class="error text-danger"> </p>
              <input type="text" placeholder="Post Code" id="post" value="{{address.post}}" name="post" class="form-control">
            </div>
          </div>



          <!-- Text input-->
          <div class="form-group">
                <label class="col-sm-2 control-label text-white" for="textinput">Address Type</label>
        <input type="radio" name="addressType" class="ml-5" value="Home"checked><label  class="text-white" >Home</label>
         <input type="radio" name="addressType"class="ml-5" value="Office"><label for=""class="text-white">Office</label>

            </div>
          

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="pull-right">
                <button type="submit" class="btn btn-primary">Add Address</button>
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div>

    <div class="col-6">
    <h1 class="text-white mt-0">Manage Addresses</h1>
    <p class="text-danger">{{deleteMessage}}</p>
    {{#each viewAddress}}
 
        <div class="border border-dark">
            <label class="text-white" for="">name  :</label>
            <label  class="text-white" for="">{{this.name}}</label><br>
            <label  class="text-white" for="">City  :</label>
            <label   class="text-white"for="">{{this.city}}</label><br>
             <label  class="text-white" for="">Contact Number  :</label>
            <label  class="text-white" for="">{{this.phone}}</label><br>
             <label  class="text-white" for="">State  :</label>
            <label   class="text-white"for="">{{this.state}}</label><br>
             <label  class="text-white" for="">Pin Code  :</label>
            <label   class="text-white"for="">{{this.post}}</label><br>
             <label   class="text-white"for="">Address Type  :</label>
            <label  class="text-white" for="">{{this.addressType}}</label><br>
    <a class="btn btn-info" href="/editAddress/{{this._id}}">Edit Address</a>
     <a class="btn btn-danger" href="/deleteAddress/{{this._id}}">Delete Address</a>

    </div>
    {{/each}}
</div>
</div>

<script>
  let form=document.getElementById('form')
  let name=document.getElementById('name')
  let phone=document.getElementById('phone')
  let city=document.getElementById('city')
  let state=document.getElementById('state')
  let post=document.getElementById('post')
  let error=document.getElementsByClassName('error')

  form.addEventListener('submit',(e)=>{
    if(name.value==''||name.value==null){
      error[0].innerHTML="*Name Required "
      e.preventDefault()
    }
    if(phone.value.length!=10){
      error[1].innerHTML="* Contact number must be ten digits "
      e.preventDefault()
    }
     if(city.value==''||city.value==null){
      error[2].innerHTML="*City Name Required "
      e.preventDefault()
    }
     if(state.value==''||state.value==null){
      error[3].innerHTML="*State Required "
      e.preventDefault()
    }
     if(post.value==''||post.value==null){
      error[4].innerHTML="*Post Required "
      e.preventDefault()
    }
  })

</script>
