<div class="shopping-cart section">
    <div class="container">
        <div class="cart-list-head">

            <div class="cart-list-title">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-12">
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <p class="text-danger">{{fromWishList}}</p>
                        <p>Product Name</p>
                    </div>
                     <div class="col-lg-2 col-md-2 col-12">
                        <p>Price</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Quantity</p>
                    </div>
                   
                    {{!-- <div class="col-lg-2 col-md-2 col-12">
                        <p>Discount</p>
                    </div> --}}
                    <div class="col-lg-1 col-md-2 col-12">
                        <p> Cancel</p>
                    </div>
                </div>
            </div>
        </div>
 {{#each products}}
            <div class="cart-single-list">
                <div class="row align-items-center">
                    <div class="col-lg-1 col-md-1 col-12">
                        <a href="product-details.html"><img src="/images/proImage/{{this.product._id}}image.jpg" alt="#"></a>
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <h5 class="product-name"><a href="product-details.html">
                                {{this.product.name}}</a></h5>
                        <p class="product-des">
                            <span><em>Category:</em> {{this.product.category}}</span>
                        
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <div class="count-input">
                          <p>{{this.product.mrp}}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                           <button 
                                                onclick="return changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                                            <span id="{{this.product._id}}">{{this.quantity}}</span>
                                            <button
                                                onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                    </div>
                 
                    <button class="remove-item" onclick="removeProductFromCart('{{this._id}}','{{this.product._id}}')"><i class="lni lni-close"></i></button>

                    </div>
                </div>
        
{{/each}}

       


        <div class="row">
            <div class="col-12">

                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Enter Your Coupon">
                                        <div class="button">
                                            <button class="btn">Apply Coupon</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span>{{total}}</span></li>
                                    <li>Shipping<span>Free</span></li>
                                    <li>You Save<span>40.00</span></li>
                                    <li class="last">You Pay<span>{{total}}.00</span></li>
                                </ul>
                                <div class="button">
                                 <a href="/placeOrder"class="btn btn-success">Checkout</a>
                                    <a href="product-grids.html" class="btn btn-alt">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>







<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    function removeProductFromCart(cartId, proId) {
        Swal.fire({
  title: 'Are you sure?',
  text: " Do you want to Romove the item from cart!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
             $.ajax({
            url: '/removeProductFromCart',

            data: {
                cart: cartId,
                product: proId,

            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("Product removed from cart")
                    location.reload()
                }
            }
        })
    location.href='/admin/cancelOffer/'+category,
    
    Swal.fire(
      'Deleted!',
      'this product is Removed from cart.',
      'success'
    )
  }
})

 
    }
    </script>
