
<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">checkout</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
                    <li><a href="index-2.html">Shop</a></li>
                    <li>checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>
       <div class="row mb-2 mr-2 align-items-center">
             <div class="col-lg-6 col-md-6 col-12"></div>
            <div class="col-lg-6 col-md-6 col-12">
                  <div class="checkout-sidebar-coupon" style="background-color: #f3f2ee;">
                        <p>Appy Coupon to get discount!</p>
                        <form id="checkcoupon" >
                            <div class="single-form form-default">
                                <div class="form-input form">
                                    <input type="text" name="offer" placeholder="Coupon Code">
                                </div>
                                <div class="button">
                                    <button  type="submit" class="btn">apply</button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
           
            </div>

            
<section class="checkout-wrapper section m-0">
   
    <div class="container">
   <button  onclick="showMe()" class="btn">Add New Address</button>
                  <form id="checkOutForm">
        <div class="row justify-content-center">

            <div class="col-lg-6">
               
              {{#each viewAddress}}

                <div class="border border-dark p-2 mb-2" style="background-color: #f3f2ee;">
                    <label  for="">Name :</label>
                    <label for="">{{this.name}}</label> <span class="float-right"><input type="radio"
                            name="address" value="{{this._id}}" checked> <label for="" > Select
                            Address</label></span><br>

                    <label  for="">City :</label>
                    <label  for="">{{this.city}}</label><br>
                    <label  for="">Contact Number :</label>
                    <label  for="">{{this.phone}}</label><br>
                    <label  for="">State :</label>
                    <label for="">Pin Code :</label>
                    <label  for="">{{this.post}}</label><br>
                    <label  for="">Address Type :</label>
                    <label  for="">{{this.addressType}}</label><br>


                </div>
                {{/each}}
            </div>
            <div class="col-lg-6">
                <div class="checkout-sidebar">
                 
                    <div class="checkout-sidebar-price-table"  style="background-color: #f3f2ee;">
                        <h5 class="title">Pricing Table</h5>
                        <div class="sub-total-price">
                            <div class="total-price">

                                <p class="value">Total Price:</p>
                                <p class="price">{{total}}</p>
                            </div>
                          
                           
                        
                        <div class="total-payable">
                            <div class="payable-price">
                                <p class="value">Coupon Offer:</p>
                                <p class="price text-danger" id="couponOffer"></p>
                            </div>
                      
                              <div class="total-payable">
                            <div class="payable-price">
                                <p class="value">Referel Amount</p>
                                <p class="price text-danger" id="">{{refAmount}}</p>
                            </div>
                        </div>
                          <div class="total-payable">
                            <div class="payable-price">
                                <p class="value">Payable Amount:</p>
                                <p class="price text-danger" id="paybleAmount" ></p>
                            </div>
                        </div>
                            <div class="payment_methods">
                            <p>Payment Method</p>
                            <p><input type="radio" name="method" value="COD" checked>COD</p>
                            <p><input type="radio" name="method" value="RazorPay">RazorPay
                            </p>
                            <p><input type="radio" name="method" value="payPal">PayPal
                            </p>
                        </div>
                        {{#if viewAddress}}
                        <button class="price-table-btn btn btn-success" type="submit">Continue to
                            payment</button>
                            {{else}}
                             <button  onclick="showMe()" class="btn">Add  Address</button>
                            {{/if}}
                    </div>
                       
                    </div>
                    {{!-- <div class="checkout-sidebar-banner mt-30">
                        <a href="product-grids.html">
                            <img src="assets/images/banner/banner.jpg" alt="#">
                        </a>
                    </div> --}}
                </div>
            </div>
        </div>
         </form>
    </div>
    </section>
     <div id="active" style="display:none;">
        <form class="form-horizontal" method="post" action="/addNewInCheckOut" role="form" id="form">
            <fieldset>

                <!-- Form Name --> 

                <!-- Text input-->
                <div class="row p-2"  style="background-color: #f3f2ee;">
                    <div class=" col-6 ">
                        <input type="text" name='userId' value='{{user._id}}' hidden>
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="textinput">Name</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="Name" id="name" value="{{address.name}}" name="name"
                                    class="form-control" Required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="textinput">Mobile Number</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" value="{{address.phone}}" id="phone" placeholder="Mobile Number"
                                    name='phone' class="form-control"Required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label " for="textinput">City</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="City" id="city" value="{{address.city}}" name="city"
                                    class="form-control"Required>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group" id="form">
                            <label class="col-sm-2 control-label " for="textinput">State</label>
                            <div class="col-sm-4">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="State" value="{{address.state}}" id="stateche"
                                    name="state" class="form-control"Required>
                            </div>

                            <label class="col-sm-2 control-label " for="textinput">Postcode</label>
                            <div class="col-sm-4">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="Post Code" id="post" value="{{address.post}}"
                                    name="post" class="form-control" required>
                            </div>
                        </div>



                        <!-- Text input-->
                        <div class="form-group "style="background-color: #f3f2ee;">
                            <label class="col-sm-2 control-label " for="textinput">Address Type</label>
                            <input type="radio" name="addressType" class="ml-5" value="Home" checked><label
                                class="">Home</label>
                            <input type="radio" name="addressType" class="ml-5" value="Office"><label for=""
                                class="">Office</label>

                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" onclick="validation()" class="btn btn-primary">Add Address</button>
                                </div>
                            </div>
                        </div>

            </fieldset>
        </form>
    </div>








<script>
    $("#checkcoupon").submit((e)=>{
        e.preventDefault()
$.ajax({
   
    method:'post',
    url:'/applyCoupon',
       data: $('#checkcoupon').serialize(),
       success:(response)=>{
            let total=response.total
               document.getElementById('paybleAmount').innerHTML=total
          if (response.data=="used")
           swal("alredy used")
         else    if (response.data=="no coupon")
           swal("* Sorry there is no such coupon")
           else{
               let offer=response.data
            
               document.getElementById('couponOffer').innerHTML=offer
           
               console.log(offer)
               swal(offer)
           }
           
       }
})    
    })
</script>












    <script>


        $("#checkOutForm").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/placeOrder',
                method: 'post',
                data: $('#checkOutForm').serialize(),

                success: (response) => {
                
                    if (response.codStatus) {
                        location.href = '/orderSuccess'
                    } else if (response.paypal) {
                        alert('Payment method is Paypal')
                        location.href = '/pay'
                    } else {
               
                        RazorpayPayment(response)
                    }
                }
            })
        })
        function RazorpayPayment(order) {
   
       
            var options = {
                "key": "rzp_test_LmbUUpofYaXAqd", // Enter the Key ID generated from the Dashboard
                "amount": "order.amount", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "JUTA",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",

                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    /*      alert(response.razorpay_payment_id);
                          alert(response.razorpay_order_id);
                          alert(response.razorpay_signature)
                      console.log("verify order",response,order)*/

                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }



        function verifyPayment(payment, order) {
        
            $.ajax({
                url: '/verifyPayment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        location.href = '/orderSuccess'
                    }
                    else {
                        alert("payment failed")
                    }
                }
            })
        }

    </script>


    {{!-- validation --}}
    <script>
        let form = document.getElementById('form')
        let name = document.getElementById('name')
        let phone = document.getElementById('phone')
        let city = document.getElementById('city')
        let state = document.getElementById('state')
        let post = document.getElementById('post')
        let error = document.getElementsByClassName('error')

        form.addEventListener('submit', (e) => {
            if (name.value == '' || name.value == null) {
                error[0].innerHTML = "*Name Required "
                e.preventDefault()
            }
            if (phone.value.length != 10) {
                error[1].innerHTML = "* Contact number must be ten digits "
                e.preventDefault()
            }
            if (city.value == '' || city.value == null) {
                error[2].innerHTML = "*City Name Required "
                e.preventDefault()
            }
            if (state.value == '' || state.value == null) {
                error[3].innerHTML = "*State Required "
                e.preventDefault()
            }
            if (post.value == '' || post.value == null) {
                error[4].innerHTML = "*Post Required "
                e.preventDefault()rgb(255,255,255)
    </script>
    {{!-- add new address --}}
    <script>
        function showMe() {
            document.getElementById('active').style.display = 'block'
        }
</script>



    