<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">checkout</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="index-2.html"><i class="lni lni-home"></i> Home</a></li>
                    <li><a href="index-2.html">Shop</a></li>
                    <li>checkout</li>
                </ul>
            </div>
        </div>
    </div>
</div>

     
<section class="checkout-wrapper section">
    <div class="container">
         <form id="checkOutForm">
               <h1 class=" mt-0">Select Address /<span><button 
                         onclick="showMe()">Add New Address</button></span>
                </h1>
        <div class="row justify-content-center">
            <div class="col-lg-8">
              {{#each viewAddress}}

                <div class="border border-dark  mb-2" style="background-color: rgb(255,255,255);">
                    <label  for="">name :</label>
                    <label for="">{{this.name}}</label> <span class="float-right"><input type="radio"
                            name="address" value="{{this._id}}"> <label for="" > Select
                            Address</label></span><br>

                    <label  for="">City :</label>
                    <label  for="">{{this.city}}</label><br>
                    <label  for="">Contact Number :</label>
                    <label  for="">{{this.phone}}</label><br>
                    <label  for="">State :</label>
                    <label for="">Pin Code :</label>
                    <label  for="">{{this.post}}</label><br>
                    <label  for="">Address Type :</label>
                    <label  for="">{{this.addressType}}</label><br>


                </div>
                {{/each}}
            </div>
            <div class="col-lg-4">
                <div class="checkout-sidebar">
                    <div class="checkout-sidebar-coupon">
                        <p>Appy Coupon to get discount!</p>
                        <form action="#">
                            <div class="single-form form-default">
                                <div class="form-input form">
                                    <input type="text" placeholder="Coupon Code">
                                </div>
                                <div class="button">
                                    <button class="btn">apply</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="checkout-sidebar-price-table mt-30">
                        <h5 class="title">Pricing Table</h5>
                        <div class="sub-total-price">
                            <div class="total-price">
                                <p class="value">Total Price:</p>
                                <p class="price">{{total}}</p>
                            </div>
                          
                           
                        
                        <div class="total-payable">
                            <div class="payable-price">
                                <p class="value">Subotal Price:</p>
                                <p class="price">$164.50</p>
                            </div>
                        </div>
                            <div class="payment_methods">
                            <p>Payment Method</p>
                            <p><input type="radio" name="method" value="COD" checked>COD</p>
                            <p><input type="radio" name="method" value="RazorPay">RazorPay
                            </p>
                            <p><input type="radio" name="method" value="payPal">PayPal
                            </p>
                        </div>
                        <button class="price-table-btn button" type="submit">Continue to
                            payment</button>
                    </div>
                       
                    </div>
                    <div class="checkout-sidebar-banner mt-30">
                        <a href="product-grids.html">
                            <img src="assets/images/banner/banner.jpg" alt="#">
                        </a>
                    </div>
                </div>
            </div>
        </div>
         </form>
    </div>
     <div id="active" style="display:none;">
        <form class="form-horizontal" method="post" action="/addNewInCheckOut" role="form" id="form">
            <fieldset>

                <!-- Form Name -->

                <!-- Text input-->
                <div class="row">
                    <div class=" col-6">
                        <input type="text" name='userId' value='{{user._id}}' hidden>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">Name</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="Name" id="name" value="{{address.name}}" name="name"
                                    class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">Mobile Number</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" value="{{address.phone}}" id="phone" placeholder="Mobile Number"
                                    name='phone' class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">City</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="City" id="city" value="{{address.city}}" name="city"
                                    class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">State</label>
                            <div class="col-sm-4">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="State" value="{{address.state}}" id="stateche"
                                    name="state" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label text-white" for="textinput">Postcode</label>
                            <div class="col-sm-4">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="Post Code" id="post" value="{{address.post}}"
                                    name="post" class="form-control">
                            </div>
                        </div>



                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">Address Type</label>
                            <input type="radio" name="addressType" class="ml-5" value="Home" checked><label
                                class="text-white">Home</label>
                            <input type="radio" name="addressType" class="ml-5" value="Office"><label for=""
                                class="text-white">Office</label>

                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Add Address</button>
                                </div>
                            </div>
                        </div>

            </fieldset>
        </form>
    </div>
</section>
















    {{!--
    <!-- Mirrored from template.hasthemes.com/juta/juta-v1/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jan 2022 12:56:31 GMT -->

    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience. Thanks</p>
        <![endif]-->
    <!-- Add your application content here -->




    <!-- breadcrumb-area start -->
    <nav class="navbar  mt-0">
        <div class="container-fluid">
            <span class="navbar-brand  ">
                <h1 class="text-white">Checkout</h1>
            </span>
        </div>
    </nav>
    <!-- breadcrumb-area end -->

    <!-- content-wraper start -->



    <div class="row">

        <form id="checkOutForm">
            <div class="col-lg-6  col-xl-6 col-sm-12">
                <h1 class="text-white mt-0">Select Address /<span><button class="text-white"
                         onclick="showMe()">Add New Address</button></span>
                </h1>

                {{#each viewAddress}}

                <div class="border border-dark mb-2">
                    <label class="text-white" for="">name :</label>
                    <label class="text-white" for="">{{this.name}}</label> <span class="float-right"><input type="radio"
                            name="address" value="{{this._id}}"> <label for="" class="text-white"> Select
                            Address</label></span><br>

                    <label class="text-white" for="">City :</label>
                    <label class="text-white" for="">{{this.city}}</label><br>
                    <label class="text-white" for="">Contact Number :</label>
                    <label class="text-white" for="">{{this.phone}}</label><br>
                    <label class="text-white" for="">State :</label>
                    <label class="text-white" for="">{{this.state}}</label><br>
                    <label class="text-white" for="">Pin Code :</label>
                    <label class="text-white" for="">{{this.post}}</label><br>
                    <label class="text-white" for="">Address Type :</label>
                    <label class="text-white" for="">{{this.addressType}}</label><br>


                </div>
                {{/each}}

            </div>

            {{!-- --}}
            <div class="col-lg-6  col-xl-6 col-sm-12">
                <div class="checkout-review-order">

                    <h3 class="shoping-checkboxt-title">Your order</h3>
                    <table class="checkout-review-order-table">
                        <thead>
                            <tr>
                                <th class="t-product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr class="cart_item">

                                <td class="t-product-name">{{this.product.SubCategory}}</td>


                                <td> <span> <strong class="product-quantity">{{this.quantity}}</strong></span>
                                </td>

                                {{/each}}
                            </tr>
                        </tbody>
                        <tfoot>

                            <tr class="shipping">
                                <th>Shipping</th>
                                <td>Free shipping</td>
                            </tr>
                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span>{{total}}</span></strong></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="checkout-payment">
                        <div class="payment_methods">
                            <p>Payment Method</p>
                            <p><input type="radio" name="method" value="COD" checked>COD</p>
                            <p><input type="radio" name="method" value="RazorPay">RazorPay
                            </p>
                            <p><input type="radio" name="method" value="payPal">PayPal
                            </p>
                        </div>
                        <button class="button-continue-payment" type="submit">Continue to
                            payment</button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    </div>
    {{!-- row end --}}



    <div id="active" style="display:none;">
        <form class="form-horizontal" method="post" action="/addNewInCheckOut" role="form" id="form">
            <fieldset>

                <!-- Form Name -->

                <!-- Text input-->
                <div class="row">
                    <div class=" col-6">
                        <input type="text" name='userId' value='{{user._id}}' hidden>
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">Name</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="Name" id="name" value="{{address.name}}" name="name"
                                    class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">Mobile Number</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" value="{{address.phone}}" id="phone" placeholder="Mobile Number"
                                    name='phone' class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">City</label>
                            <div class="col-sm-10">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="City" id="city" value="{{address.city}}" name="city"
                                    class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">State</label>
                            <div class="col-sm-4">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="State" value="{{address.state}}" id="stateche"
                                    name="state" class="form-control">
                            </div>

                            <label class="col-sm-2 control-label text-white" for="textinput">Postcode</label>
                            <div class="col-sm-4">
                                <p class="error text-danger"> </p>
                                <input type="text" placeholder="Post Code" id="post" value="{{address.post}}"
                                    name="post" class="form-control">
                            </div>
                        </div>



                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label text-white" for="textinput">Address Type</label>
                            <input type="radio" name="addressType" class="ml-5" value="Home" checked><label
                                class="text-white">Home</label>
                            <input type="radio" name="addressType" class="ml-5" value="Office"><label for=""
                                class="text-white">Office</label>

                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-primary">Add Address</button>
                                </div>
                            </div>
                        </div>

            </fieldset>
        </form>
    </div>
    </div>

    <!-- content-wraper end -->

    <!-- footer-area start -->
    <footer class="footer-area mt-95">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="about-us-footer">
                            <div class="footer-logo">
                                <a href="#"><img src="img/logo/logo_footer.png" alt=""></a>
                            </div>
                            <div class="footer-info">
                                <p class="phone">+ (012) 800 456 789</p>
                                <p class="desc_footer">We are a team of designers and developers that create high
                                    quality Magento, Prestashop, Opencart.</p>
                                <div class="social_follow">
                                    <ul class="social-follow-list">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                        <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="footer-info-inner">
                            <div class="row">
                                <div class="col-lg-2 col-md-6 col-sm-6">
                                    <div class="footer-title">
                                        <h3>Products</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#">Prices drop </a></li>
                                        <li><a href="#">New products </a></li>
                                        <li><a href="#">Best sales </a></li>
                                        <li><a href="#">Stores</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">My account</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6">
                                    <div class="footer-title">
                                        <h3>Our company</h3>
                                    </div>
                                    <ul>
                                        <li><a href="#">Delivery</a></li>
                                        <li><a href="#">Legal Notice</a></li>
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Contact us </a></li>
                                        <li><a href="#">Sitemap</a></li>
                                        <li><a href="#">Stores</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-6">
                                    <div class="footer-title">
                                        <h3>Your account </h3>
                                    </div>
                                    <ul>
                                        <li><a href="#">Addresses</a></li>
                                        <li><a href="#">Credit slips</a></li>
                                        <li><a href="#">Orders</a></li>
                                        <li><a href="#">Personal info</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-5 offset-xl-1 col-md-6 col-sm-6">
                                    <div class="footer-title">
                                        <h3>Get in touch</h3>
                                    </div>
                                    <div class="block-contact-text">
                                        <p> Juta - Responsive Prestashop Theme<br>123 Main Street, Anytown, CA 12345
                                            - USA.<br>United States</p>
                                        <p>Call us: <span>(012) 800 456 789-987 </span></p>
                                        <p>Email us: <span>demo@posthemes.com</span></p>
                                    </div>
                                    <div class="time">
                                        <h3 class="time-title">Opening time</h3>
                                        <div class="time-text">
                                            <p>
                                                Open: <span>8:00 AM</span> - Close: <span>18:00 PM</span>
                                                Saturday - Sunday: Close
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="copyright">Copyright &copy; <a href="#">Juta</a>. All Rights Reserved</div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="payment"><img alt="" src="img/icon/payment.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer-area start -->

    <!-- Modal start-->
    <div class="modal fade modal-wrapper" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="modal-inner-area row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="single-product-tab">
                                <div class="zoomWrapper">
                                    <div id="img-1" class="zoomWrapper single-zoom">
                                        <a href="#">
                                            <img id="zoom1" src="img/product/1.jpg" data-zoom-image="img/product/1.jpg"
                                                alt="big-1">
                                        </a>
                                    </div>
                                    <div class="single-zoom-thumb">
                                        <ul class="s-tab-zoom single-product-active owl-carousel" id="gallery_01">
                                            <li>
                                                <a href="#" class="elevatezoom-gallery active" data-update=""
                                                    data-image="img/product/1.jpg"
                                                    data-zoom-image="img/product/1.jpg"><img src="img/product/1.jpg"
                                                        alt="zo-th-1" /></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery" data-image="img/product/2.jpg"
                                                    data-zoom-image="img/product/2.jpg"><img src="img/product/2.jpg"
                                                        alt="zo-th-2"></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery" data-image="img/product/3.jpg"
                                                    data-zoom-image="img/product/3.jpg"><img src="img/product/3.jpg"
                                                        alt="ex-big-3" /></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery" data-image="img/product/4.jpg"
                                                    data-zoom-image="img/product/4.jpg"><img src="img/product/4.jpg"
                                                        alt="zo-th-4"></a>
                                            </li>
                                            <li class="">
                                                <a href="#" class="elevatezoom-gallery" data-image="img/product/5.jpg"
                                                    data-zoom-image="img/product/5.jpg"><img src="img/product/5.jpg"
                                                        alt="zo-th-5"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <!-- product-thumbnail-content start -->
                            <div class="quick-view-content">
                                <div class="product-info">
                                    <h2>Brand Name FREE RN 2018</h2>
                                    <div class="rating-box">
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="price-box">
                                        <span class="new-price">$225.00</span>
                                        <span class="old-price">$250.00</span>
                                    </div>
                                    <p>100% cotton double printed dress. Black and white striped top and orange high
                                        waisted skater skirt bottom.</p>
                                    <div class="modal-size">
                                        <h4>Size</h4>
                                        <select>
                                            <option title="S" value="1">S</option>
                                            <option title="M" value="2">M</option>
                                            <option title="L" value="3">L</option>
                                        </select>
                                    </div>
                                    <div class="modal-color">
                                        <h4>Color</h4>
                                        <div class="color-list">
                                            <ul>
                                                <li><a href="#" class="orange active"></a></li>
                                                <li><a href="#" class="paste"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="quick-add-to-cart">
                                        <form class="modal-cart">
                                            <div class="quantity">
                                                <label>Quantity</label>
                                                <div class="cart-plus-minus">
                                                    <input class="cart-plus-minus-box" type="text" value="0">
                                                </div>
                                            </div>
                                            <button class="add-to-cart" type="submit">Add to cart</button>
                                        </form>
                                    </div>
                                    <div class="instock">
                                        <p>In stock </p>
                                    </div>
                                </div>
                            </div>
                            <!-- product-thumbnail-content end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end-->
    </div>
    {{!-- jQuery for checkOut --}}




    {{!-- razorpay --}}
    --}}






    <script>


        $("#checkOutForm").submit((e) => {
            e.preventDefault()
            $.ajax({
                url: '/placeOrder',
                method: 'post',
                data: $('#checkOutForm').serialize(),

                success: (response) => {
                    alert(response.status)
                    if (response.codStatus) {
                        location.href = '/orderSuccess'
                    } else if (response.paypal) {
                        alert('hai raziq fans')
                        location.href = '/pay'
                    } else {
                        alert('hey')
                        RazorpayPayment(response)
                    }
                }
            })
        })
        function RazorpayPayment(order) {
            alert('reached at razorpay payment ')
            console.log("second funtion ", order)
            var options = {
                "key": "rzp_test_LmbUUpofYaXAqd", // Enter the Key ID generated from the Dashboard
                "amount": "order.amount", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "JUTA",
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",

                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response) {
                    /*      alert(response.razorpay_payment_id);
                          alert(response.razorpay_order_id);
                          alert(response.razorpay_signature)
                      console.log("verify order",response,order)*/

                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }



        function verifyPayment(payment, order) {
            alert('reached at virify payment')
            $.ajax({
                url: '/verifyPayment',
                data: {
                    payment,
                    order
                },
                method: 'post',
                success: (response) => {
                    if (response.status) {
                        location.href = '/orderSuccess'
                    }
                    else {
                        alert("payment failed")
                    }
                }
            })
        }

    </script>


    {{!-- validation --}}
    <script>
        let form = document.getElementById('form')
        let name = document.getElementById('name')
        let phone = document.getElementById('phone')
        let city = document.getElementById('city')
        let state = document.getElementById('state')
        let post = document.getElementById('post')
        let error = document.getElementsByClassName('error')

        form.addEventListener('submit', (e) => {
            if (name.value == '' || name.value == null) {
                error[0].innerHTML = "*Name Required "
                e.preventDefault()
            }
            if (phone.value.length != 10) {
                error[1].innerHTML = "* Contact number must be ten digits "
                e.preventDefault()
            }
            if (city.value == '' || city.value == null) {
                error[2].innerHTML = "*City Name Required "
                e.preventDefault()
            }
            if (state.value == '' || state.value == null) {
                error[3].innerHTML = "*State Required "
                e.preventDefault()
            }
            if (post.value == '' || post.value == null) {
                error[4].innerHTML = "*Post Required "
                e.preventDefault()rgb(255,255,255)
    </script>
    {{!-- add new address --}}
    <script>
        function showMe() {
            document.getElementById('active').style.display = 'block'
        }
    </script>