
{{!-- for fontawsome heart --}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <section class="hero-area mt-0">
        <div class="container-fluid">
    
        {{#each banner}}      
           <div class="row" >
                <div class=" col-12 custom-padding-right ">
                    <div class="slider-head">

                        <div class="hero-slider">

                            <div class="single-slider"
                                style="background-image: url(/bannerImage/{{this._id}}image.jpg);">
                            
                            </div>
                                <div class="single-slider"
                                style="background-image: url(/bannerImage/{{this._id}}image2.jpg);">
                            
                            </div>


                            <div class="single-slider"
                                style="background-image: url(/bannerImage/{{this._id}}image3.jpg);">
                        
                            </div>

                        </div>

                    </div>
                </div>
   
            </div>
                {{/each}}
        </div>
    </section>




    <section class="trending-product section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Trending Product</h2>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                {{#each products}}
                <div class="col-lg-3 col-md-6 col-12">

                    <div class="single-product">
                        <div class="product-image">
                             <a href="/product-details/?id={{this._id}}">
                          <img src="/images/proImage/{{this._id}}image.jpg" alt="#"></a>
                          {{#if this.offerPercentage}}
                          <span class="sale-tag">{{this.offerPercentage}}%Off</span>
                          {{/if}}
                            <div class="button">
                              <li class="add-cart"><button onclick="addToCart('{{this._id}}','{{../user._id}}')" class=" btn btn-info rounded-pill text-white"><i class="ion-android-cart"></i> Add to cart</button></li>
                              <li class="add-cart"><button onclick="addToWishlist('{{this._id}}','{{../user._id}}')" class=" btn btn-info rounded-pill text-white"><i class="fa fa-heart" style="color: red;"></i>Wish List</button></li>

                          {{!-- <i class="fa fa-heart" style="font-size:30px;color:red"> --}}
                            </div>
                        </div>
                        <div class="product-info">
                       

                            <h4 class="title">
                                <p>{{this.name}}</p>
                            </h4>
                            <ul class="review">
                            
                                <li><span>{{this.category}}</span><li>
                            </ul>
                            
                            
                            <div class="price">Rs:
                                <span class="text-danger">{{this.mrp}}/-</span>
                                <span class="discount-price">{{this.OldPrice}}</span>
                            </div>
                        </div>
                    </div>
                 

                </div>
                   {{/each}}

            </div>
        </div>
    </section>

<script>

               function addToCart(proId,userId){
           
              if(!userId){
            swal("Sorry..login first")
        }
        else{
    $.ajax({
       
        
        url:'/cart/'+proId,
        method:'get',
        success:(Response)=>{
            if(Response.status){
                let count=$('#cart-count').html()
                count=parseInt(count)+1
                $('#cart-count').html(count)
            }
           
        }
    
    })
        }
   }
</script>

<script>
    function addToWishlist(proId,userId){
 
    if(!userId){
        swal("Sorry..login first")
    }
    else{
 
    $.ajax({
        url:'/addToWishList/'+proId,
      
        method:'get',
        success:(response)=>{
       
            if(response.productAddedToWishList||response.newWishListCollectionCreated){
            
                swal("product added to wish list")
            
            
                 let count=$('#wish-count').html()
                count=parseInt(count)+1
                $('#wish-count').html(count)
            }
            else{
                swal(" Product already in Wish list")
            }
        }
    })
}
}

</script>
