<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 900px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    {{!-- background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat; --}}
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}
</style>


<div class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "/images/proImage/{{productDetails._id}}image.jpg"alt = "shoe image">
          <img src = "/images/proImage/{{productDetails._id}}image2.jpg"alt = "shoe image">
          <img src = "/images/proImage/{{productDetails._id}}image3.jpg" alt = "shoe image">
          <img src = "/images/proImage/{{productDetails._id}}image.jpg" alt = "shoe image">
        </div>
      </div>
      <div class = "img-select">
        <div class = "img-item">
          <a href = "#" data-id = "1">
            <img src = "/images/proImage/{{productDetails._id}}image.jpg" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "2">
            <img src ="/images/proImage/{{productDetails._id}}image2.jpg" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "3">
            <img src = "/images/proImage/{{productDetails._id}}image3.jpg" alt = "shoe image">
          </a>
        </div>
        <div class = "img-item">
          <a href = "#" data-id = "4">
            <img src = "/images/proImage/{{productDetails._id}}image.jpg" alt = "shoe image">
          </a>
        </div>
      </div>
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title">{{productDetails.brand}}</h2>
      <h4 class = "product-title">{{productDetails.SubCategory}}</h4>
      <div class = "product-rating">
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div>

      <div class = "product-price">
       
        <p class = "new-price">Price: <span>{{productDetails.mrp}}</span></p>
      </div>

      <div class = "product-detail">
        <h2>about this item: </h2>
        
    
        <ul>
        
          <li>Available: <span>in stock</span></li>
          <li>Category: <span>{{productDetails.category}}</span></li>
          <li>Shipping Area: <span>All over India</span></li>
          <li>Shipping Fee: <span>Free</span></li>
        </ul>
      </div>

      <div class = "purchase-info">
        <input type = "number" min = "0" value = "1">
        <button type = "button" onclick='addToCart("{{productDetails._id}}")' class = "btn">
          Add to Cart <i class = "fas fa-shopping-cart"></i>
        </button>
      </div>

      <div class = "social-links">
        <p>Share At: </p>
        <a href = "#">
          <i class = "fab fa-facebook-f"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-twitter"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-instagram"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-whatsapp"></i>
        </a>
        <a href = "#">
          <i class = "fab fa-pinterest"></i>
        </a>
      </div>
    </div>
  </div>
</div>
   <footer class="footer-area mt-95">
                <div class="footer-top">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="about-us-footer">
                                    <div class="footer-logo">
                                        <a href="#"><img src="img/logo/logo_footer.png" alt=""></a>
                                    </div>
                                    <div class="footer-info">
                                        <p class="phone">+ (012) 800 456 789</p>
                                        <p class="desc_footer">We are a team of designers and developers that create high quality Magento, Prestashop, Opencart.</p>
                                        <div class="social_follow">
                                            <ul class="social-follow-list">
                                                <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                                                <li class="google"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                            </ul>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-12">
                                <div class="footer-info-inner">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-6 col-sm-6">
                                            <div class="footer-title">
                                                <h3>Products</h3>
                                            </div>
                                            <ul>
                                                <li><a href="#">Prices drop </a></li>
                                                <li><a href="#">New products </a></li>
                                                <li><a href="#">Best sales </a></li>
                                                <li><a href="#">Stores</a></li>
                                                <li><a href="#">Login</a></li>
                                                <li><a href="#">My account</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-sm-6">
                                            <div class="footer-title">
                                                <h3>Our company</h3>
                                            </div>
                                            <ul>
                                                <li><a href="#">Delivery</a></li>
                                                <li><a href="#">Legal Notice</a></li>
                                                <li><a href="#">About us</a></li>
                                                <li><a href="#">Contact us </a></li>
                                                <li><a href="#">Sitemap</a></li>
                                                <li><a href="#">Stores</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-sm-6">
                                            <div class="footer-title">
                                                <h3>Your account </h3>
                                            </div>
                                            <ul>
                                                <li><a href="#">Addresses</a></li>
                                                <li><a href="#">Credit slips</a></li>
                                                <li><a href="#">Orders</a></li>
                                                <li><a href="#">Personal info</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-5 offset-xl-1 col-md-6 col-sm-6">
                                            <div class="footer-title">
                                                <h3>Get in touch</h3>
                                            </div>
                                            <div class="block-contact-text">
                                                <p> Juta - Responsive Prestashop Theme<br>123 Main Street, Anytown, CA 12345 - USA.<br>United States</p>
                                                <p>Call us: <span>(012) 800 456 789-987 </span></p>
                                                <p>Email us: <span>demo@posthemes.com</span></p>
                                            </div>
                                            <div class="time">
                                                <h3 class="time-title">Opening time</h3>
                                                <div class="time-text">
                                                    <p>
                                                        Open: <span>8:00 AM</span> - Close: <span>18:00 PM</span>
                                                        Saturday - Sunday: Close
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="copyright">Copyright &copy; <a href="#">Juta</a>. All Rights Reserved</div>
                            </div>	
                            <div class="col-lg-6 col-md-6">
                                 <div class="payment"><img alt="" src="img/icon/payment.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            {{!-- script for web page design --}}
<script>
    const imgs = document.querySelectorAll('.img-select a');
const imgBtns = [...imgs];
let imgId = 1;

imgBtns.forEach((imgItem) => {
    imgItem.addEventListener('click', (event) => {
        event.preventDefault();
        imgId = imgItem.dataset.id;
        slideImage();
    });
});

function slideImage(){
    const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

    document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
}

window.addEventListener('resize', slideImage);
</script>


{{!-- script for add to cart --}}
           <script>

               function addToCart(proId){
             
    $.ajax({
        url:'/cart/'+proId,
        method:'get',
        success:(Response)=>{
            if(Response.status){
                let count=$('#cart-count').html()
                count=parseInt(count)+1
                $('#cart-count').html(count)
            }
           
        }
    })
   }
           </script>